.navbar {
  a {
    color: $black-color;
    font-size: 18px;
    transition: all linear 0.3s;
    &:hover {
      color: $main-color;
    }
  }
  button {
    background-color: $main-color;
    padding: 15px 32px;
    outline: none;
    border: none;
    color: $white-color;
    border-radius: 8px;
    font-size: 18px;
  }
}
